@page "/employees"
@using EM.Application.Services.Abstract
@using EM.Core.Models
@using EM.Application.Abstract.Services
@using EM.Infrastructure.Data
@using Microsoft.AspNetCore.Authorization
@inject IBonusService BonusService;
@inject IEmployeeService EmployeeService;
@inject IDataProvider<Employee> DataProvider;
@inject IHttpClientFactory HttpClientFactory
@attribute [Authorize(Roles = $"{IdentityConstants.ADMIN_ROLE_NAME}, {IdentityConstants.EMPLOYEE_ROLE_NAME}")]
@rendermode InteractiveServer

<AuthorizeView>
    <PageTitle>Employees</PageTitle>

    <h1>Employees</h1>

    @if (_employees == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div>
            <button @onclick="GiveBonusToLowestSalaryMember">Give Bonus to lowest salary member</button>
            <button @onclick="AddEmployee">Add Employee</button>
        </div>
        
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Personal Id Number</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var employee in _employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.PersonalIdNumber</td>
                    <td>@employee.Salary</td>
                    <td>
                        <button @onclick="() => GiveBonus(employee)">Give Bonus</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</AuthorizeView>

@code {
    private Employee[]? _employees;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient();
        var e = await client.GetFromJsonAsync<List<Employee>>("http://localhost:5054/api/employee");
        _employees = e?.ToArray();
    }

    private async void GiveBonusToLowestSalaryMember()
    {
        var employee = await EmployeeService.GetEmployeeWithSmallestSalaryAsync();
        BonusService.GiveBonus(employee, 0.2m);
        //var client = HttpClientFactory.CreateClient();

        if (_employees != null)
            await DataProvider.SaveAllAsync(_employees);
        
        //await client.PutAsJsonAsync<List<Employee>>("http://localhost:5054/api/employee");
    }

    private void GiveBonus(Employee employee)
    {
        BonusService.GiveBonus(employee, 0.2m);

        if (_employees != null)
            DataProvider.SaveAllAsync(_employees);
    }

    private void AddEmployee()
    {
    }

}