@page "/employees/dashboard"
@using EM.Application.Services.Abstract
@using EM.Core.Models
@using EM.Application.Abstract.Services
@using EM.Infrastructure.Data
@using Microsoft.AspNetCore.Authorization
@inject IHttpClientFactory HttpClientFactory
@attribute [Authorize(Roles = $"{IdentityConstants.ADMIN_ROLE_NAME}, {IdentityConstants.EMPLOYEE_ROLE_NAME}")]
@rendermode InteractiveServer

<AuthorizeView>
    <PageTitle>Employees</PageTitle>

    <h1>Employee Dashboard</h1>

    @if (_employees == null)
    {
    }
    else
    {
    }
</AuthorizeView>

@code {
    private Employee[]? _employees;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient();
        //var e = await client.GetFromJsonAsync<List<Employee>>("api/employee");
    }
}