@page "/Teams"
@using EM.Infrastructure.Data

<AuthorizeView Roles="@IdentityConstants.TEAMS_VIEW_ROLE_NAME">
    <Authorized>
        <h3>Teams</h3>
    </Authorized>
</AuthorizeView>

@code {
    
}